p,h1{
    background-color: bisque;
    background-image: url('https://img.xcitefun.net/users/2013/08/329970,xcitefun-chugach-national-forest-9.jpg');
    font-size: small;
}
u{
    color: navy;
}
i{
    color: blueviolet;
}